src/test/resources/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<!--
   Copyright 2013 Juan Alberto López Cavallotti

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->

<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:json="http://www.mulesoft.org/schema/mule/json"
      xmlns:solr="http://www.mulesoft.org/schema/mule/solr"
      xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/solr http://www.mulesoft.org/schema/mule/solr/1.0.0/mule-solr.xsd">

    <solr:config serverUrl="http://localhost:8080/solr" name="mySolrConnector" />

    <flow name="testQueryFlow">
        <solr:query q="content:devkit">
            <solr:sort-fields>
                <solr:sort-field key="url">asc</solr:sort-field>
            </solr:sort-fields>
        </solr:query>
        <logger level="WARN" message="#[payload.toString()]" />
        <set-payload value="#[payload.results]" />
        <json:object-to-json-transformer />
    </flow>

    <flow name="testPostUpdate">
        <solr:index-pojo />
        <logger level="WARN" message="#[payload.toString()]" />
        <set-payload value="#[payload.status]" />
        <json:object-to-json-transformer />
    </flow>

    <flow name="testDeleteUpdate">
        <solr:delete-by-query q="#[payload]" />
        <logger level="WARN" message="#[payload.toString()]" />
        <set-payload value="#[payload.status]" />
        <json:object-to-json-transformer />
    </flow>

    <flow name="testDeleteById">
        <solr:delete-by-id id="#[payload]" />
        <logger level="WARN" message="#[payload.toString()]" />
        <set-payload value="#[payload.status]" />
        <json:object-to-json-transformer />
    </flow>

    <flow name="testCreateDocument">
        <solr:message-to-input-document-transformer />
    </flow>

</mule>
